<p> Hello and welcome to dormdish!</p>
<br />
<p>The idea behind dormdish is to provide a place for people to rate which dorms around campus serve the best food. Currently, we're in a beta launch for the University of Michigan. We're in beta at the moment (hence the unfinished website) but feel free to play around and tell your friends. Look for new features soon! </p>